
.well {
  background: #f9f9f9;
  padding: 15px;
}

.text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.tall-1 { height: 5em; }
.tall-2 { height: 10em; }

.pure-button {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 0.9em;
}

.button-xsmall {
  font-size: 70%; 
}

.button-red {
  color: white; 
  background: #c0392b; 
}

.button-carrot {
  color: white; 
  background: #e67e22; 
} 

.button-blue {
  color: white; 
  background: #2980b9; 
} 

.button-green {
  color: white; 
  background: #16a085; 
} 

.pure-button-1 {
  width: 100%; 
} 
.pure-button-1-2 {
  width: 50%; 
} 


