@import "_myStyle.scss";
@import "_menu.sass";
@import "_tiles.sass";

@import "pages/landing.scss";
@import "pages/dashboard.sass";
@import "pages/transactions.sass";

  /*  Universal Sitewide Styling  */
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url('fonts/fira-sans/FiraSans-Regular.otf')
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  src: url('fonts/fira-sans/FiraSans-Medium.otf')
}

body {
  background: #bdc3c7;
  color: #444;
}
body * {
  font-family: 'Fira Sans';
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

::selection { background: #f39c12; color: white; }
::-moz-selection { background: #f39c12; color: white; }



