<!DOCTYPE html>
<html ng-app="Wallet"
      ng-controller="WholeApp as appMain">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wallet</title>
    <!-- Yahoo! Pure -->
    <link href="~/Content/pure-min.css" rel="stylesheet" />
    <link href="~/Content/grids-responsive-min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ui-view 
      ng-class="{landing: appMain.isLanding }"  
    > 

<!-- Scripts -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/Services/authIntercepter.js"></script>
    <script src="~/App/Services/authService.js"></script>
    <!-- Areas -->
        <script src="~/App/Services/accounts.js"></script>
        <script src="~/App/Services/main.service.js"></script>
        <!-- Dashboard -->
            <script src="~/App/Dash/dash.ctrl.js"></script>
        <!-- Landing -->
            <script src="~/App/Landing/landing.ctrl.js"></script>
        <!-- Index -->
            <script src="~/App/main.ctrl.js"></script>
</body>
</html>
