<!DOCTYPE html>
<html ng-app="Wallet"
      ng-controller="WholeApp as appMain">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Wallet</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body ui-view 
      ng-class="{landing: appMain.isLanding}"  
    > 

<!-- Scripts -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/App/app.js"></script>
    <!-- Areas -->
        <script src="~/App/Services/account.service.js"></script>
        <script src="~/App/Services/app.service.js"></script>
        <!-- Index -->
            <script src="~/App/app.ctrl.js"></script>
        <!-- DemoDebug -->
        <!-- Landing -->
            <script src="~/App/Landing/landing.ctrl.js"></script>
</body>
</html>
