.well {
  background: #f9f9f9;
  padding: 15px; }

.text-center {
  text-align: center; }

.clickable {
  cursor: pointer; }

.tall-1 {
  height: 5em; }

.tall-2 {
  height: 10em; }

.pure-button {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 0.9em; }

.button-xsmall {
  font-size: 70%; }

.button-red {
  color: white;
  background: #c0392b; }

.button-carrot {
  color: white;
  background: #e67e22; }

.button-blue {
  color: white;
  background: #2980b9; }

.button-green {
  color: white;
  background: #16a085; }

.pure-button-1 {
  width: 100%; }

.pure-button-1-2 {
  width: 50%; }

.pure-menu {
  background: #2c3e50; }

.pure-menu-link {
  color: white; }

ul.pure-menu-children a {
  color: black; }

.pure-menu-link:hover {
  color: white;
  background: #e74c3c; }

.pure-menu-link:focus {
  background: #e67e22; }

.pure-menu-item.important {
  background: #8e44ad; }
  .pure-menu-item.important:hover {
    background: #9b59b6; }

.menu-segment-a {
  text-align: left; }

.menu-segment-b {
  text-align: right; }

.tile {
  margin: 10px 5px;
  text-align: center;
  overflow: hidden;
  color: white; }
  .tile h1, .tile h2, .tile h3, .tile h4 {
    margin: 0.3em;
    display: inline-block;
    letter-spacing: 1px; }
  .tile input[type="text"] {
    width: 100%; }

.tile-turquoise {
  background: #1abc9c; }
  .tile-turquoise .pure-button-primary {
    background: #1abc9c; }

.tile-green-sea {
  background: #16a085; }
  .tile-green-sea .pure-button-primary {
    background: #16a085; }

.tile-sun-flower {
  background: #f1c40f; }
  .tile-sun-flower .pure-button-primary {
    background: #f1c40f; }

.tile-wisteria {
  background: #8e44ad; }
  .tile-wisteria .pure-button-primary {
    background: #8e44ad; }

.tile-carrot {
  background: #e67e22; }
  .tile-carrot .pure-button-primary {
    background: #e67e22; }

.tile-belize-hole {
  background: #2980b9; }
  .tile-belize-hole .pure-button-primary {
    background: #2980b9; }

.tile-alizarin {
  background: #e74c3c; }
  .tile-alizarin .pure-button-primary {
    background: #e74c3c; }

.tile-body {
  background: white;
  color: black;
  text-align: left;
  padding: 0.5em 1.5em; }

.tile-form {
  background: white;
  color: black;
  text-align: left;
  padding: 0.5em 1.5em; }

.tile-table {
  width: 100%;
  background: white;
  color: #444; }
  .tile-table thead {
    font-size: 0.76em;
    text-align: center; }
  .tile-table td {
    padding: 0 1em; }

.stacked-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: black; }

.stacked-list li {
  padding: 0.5em 0;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 0.5em; }

.transactions p {
  margin: 0;
  margin-top: 0.2em; }
.transactions span {
  font-size: 2.8em;
  line-height: 1.1em; }

.transaction-head {
  display: table;
  width: 100%;
  nth-child(2)-text-align: right; }

.transaction-date {
  display: table-cell;
  text-align: left; }

.transaction-name {
  display: table-cell;
  text-align: right; }

.widget {
  border: 1px solid #bbb;
  text-align: center;
  background: white; }
  .widget span {
    display: block; }

.widget-value {
  font-weight: 500;
  font-size: 2em;
  padding: 0.2em;
  line-height: 1.1em;
  color: #444; }

.widget-s {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em; }

.widget-orange {
  border-top: 5px solid #e67e22;
  color: #e67e22; }

.widget-purple {
  border-top: 7px solid #8e44ad;
  color: #8e44ad; }

.widget-red {
  border-top: 7px solid #e74c3c;
  color: #e74c3c; }

body.landing {
  background: #2980b9;
  color: white;
  padding-bottom: 2em; }

div#landing-header {
  margin-bottom: 2em; }

div#landing-header h1 {
  font-size: 8em;
  margin: 0;
  margin-top: 0.5em; }

.login-modal {
  border-radius: 10px;
  background: transparent;
  border: 3px solid white;
  margin: 1em; }

.login-modal .pure-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white; }

.login-modal button.login {
  display: table-cell; }

.login-modal button.register {
  display: table-cell;
  float: right; }

#login-form {
  margin-top: 1.0em;
  background: transparent; }

#login-form input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: 1px solid white; }
  #login-form input:focus {
    background: #34495e;
    border-color: #2c3e50;
    color: #f1c40f; }

#login-account-info {
  text-align: right; }

.pools {
  text-align: center; }
  .pools #canvas {
    height: 15em;
    background: white; }

#bank-accounts {
  text-align: center; }
  #bank-accounts .account-label * {
    display: inline; }

#new-transaction {
  background: #225588; }
  #new-transaction input#description {
    max-width: 100%; }
  #new-transaction #description {
    width: 100%; }
  #new-transaction #amount {
    width: 40%; }

.invitation-item p {
  margin: 0.4em 0; }

/*  Universal Sitewide Styling  */
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("fonts/fira-sans/FiraSans-Regular.otf"); }
@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  src: url("fonts/fira-sans/FiraSans-Medium.otf"); }
body {
  background: #bdc3c7;
  color: #444; }

body * {
  font-family: 'Fira Sans'; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

::selection {
  background: #f39c12;
  color: white; }

::-moz-selection {
  background: #f39c12;
  color: white; }

/*# sourceMappingURL=Site.css.map */
