body {
}
body.landing {
    background-image: url("https://unsplash.imgix.net/uploads/14129863345840df499fc/0165574c?q=75&fm=jpg&s=6e5127e797feb9b5a72f7ae4a0f3a89b"); 
    background-repeat: no-repeat; 
    background-position: 60% 40%; 
}
::selection { background: #D3F45A; }
::-moz-selection { background: #d3f45a; }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div#landing-header {
    margin-bottom: 2em; 
}

div#landing-header h1 {
    font-size: 8em; 
    margin: 0; 
    margin-top: 0.5em; 
}

.well {
    background: #f9f9f9; 
    padding: 15px; 
}

.text-center {
    text-align: center; 
}

.clickable {
    cursor: pointer; 
}

.tall-1 { height: 5em; }
.tall-2 { height: 10em; }

#login-form {
    margin-top: 1.0em; 
}