@mixin transparent {
  background: rgba(0,0,0,0); 
}
body.landing {
  background: #2980b9; 
  color: white; 
  padding-bottom: 2em; 
}

div#landing-header {
  margin-bottom: 2em;
}

div#landing-header h1 {
  font-size: 8em;
  margin: 0;
  margin-top: 0.5em;
}


.login-modal {
  border-radius: 10px;
  @include transparent; 
  border: 3px solid white; 
  margin: 1em; 
}


.login-modal .pure-button {
  @include transparent; 
  border: 2px solid white; 
  border-radius: 5px; 
  color: white; 
}

.login-modal button.login {
  display: table-cell;
}

.login-modal button.register {
  display: table-cell;
  float: right;
}

#login-form {
  margin-top: 1.0em;
  @include transparent; 
}

#login-form input {
  width: 100%;
  @include transparent; 
  box-shadow: none; 
  border: 1px solid white; 
  &:focus {
    background: #34495e; 
    border-color: #2c3e50; 
    color: #f1c40f; 
  } 
}

#login-account-info {
  text-align: right; 
} 
