<ng-include src="'App/Navbar/navbar.html'">
</ng-include>
<div class="container body-content"
     ng-init="appMain.isLanding = false"
     ng-controller="Transactions as main">

    <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-1-2">
            <div id="new-transaction" class="tile tile-belize-hole">
                <h3>Enter A Transaction</h3>
                <div class="tile-body">
                    <form class="pure-form pure-form-stacked" ng-submit="main.newTransaction()">
                        <fieldset>
                            <label for="description">Description</label>
                            <input id="description" type="text" placeholder="Simple Description" ng-model="main.newTx['description']"/>

                            <label for="amount">Amount</label>
                            <input id="amount" type="text" placeholder="0.00" ng-model="main.newTx['amount']"/>

                            <label for="spent" class="pure-radio">
                                <input id="spent" type="radio" name="priceRadios" value="0" ng-model="main.newTx['flow']" />
                                Spent
                            </label>

                            <label for="earned" class="pure-radio">
                                <input id="earned" type="radio" name="priceRadios" value="1" ng-model="main.newTx['flow']"/>
                                Earned
                            </label>
                        </fieldset>
                        <input type="submit" class="pure-button pure-button-belize-hole" />
                    </form>
                </div>
            </div>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-2">
            <div id="my-transactions" class=" tile tile-sun-flower transactions">
                <h3>My Transactions</h3>
            </div>
        </div>
    </div>
</div>
